openai
groq
google-generativeai
mistralai
python-dotenv
requests
pydantic
tqdm
typing-extensions
langchain
langchain-openai
langchain-community
chromadb
faiss-cpu
tiktoken
langchain-core
tiktoken
fastapi
uvicorn